.asteriButton:hover{
  color:#FFD700;
  transition: 0.1s;
  cursor: pointer;
}

.asteriButton{
  color:rgba(0,0,0,0.6);
}

.optionButton:hover{
  transition: 0.1s;
  color: #4287f5;
  cursor: pointer;
}

.optionButton{
  color:rgba(0,0,0,0.6);
}

.starCol {
  text-align: center;
  /*padding-top: 10px;*/
}

.starCol .ratings {
	/*height: 50px;*/
	/*height: 48px;
	line-height: 48px;*/
	/*text-align: center;*/
}

.starCol .ratings div {
	/*display: inline-block;*/
}

.starCol .ratings .icon {
	/*position:relative;*/
	/*margin-right: 16px;*/
	/*top: calc(50% - 20px);*/
}

.starCol .ratings.star .icon {
	/*margin-right: 13px;*/
}

.starCol .ratings.star .number {
	/*margin-top: 8px;*/
	/*margin-left: 2px;*/
}

.ant-row .number {
	/*padding-left: 10px;*/
	/*margin-top: 15px;*/
}

.starCol .ant-rate {
  /*width: 100%;*/
  /*font-size: 30px;*/
}

.starCol .ant-rate-star {
  /*margin: 0 auto;
  display: block;
  text-align: center;*/
}

.agora-post .otherCol {
	/*padding: 15px 0px 0px 20px;*/
}

.agora-post{
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.1);
}

.agora-post:hover{
  border: 1px solid rgba(0,0,0,0.25);
}

.ant-card-actions{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
